@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
}

.navbar {
    display: flex;
    height: 60px;
    font-family: 'Ubuntu', sans-serif;
}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

.fsize{
    font-size: 1.5rem;
}

.topleft {
    width: 50%;
    /* height: 155px; */
}

.topright {
    width: 50%;
    /* height: 155px; */
}


.section1 {
    max-height: 100vh;
    padding: 73px;
}

.section1 h1 {
    font-size: 2rem;
    color: rgb(0, 7, 87);
}

.font-in {
    font-size: 1.3rem;
}

.dumbell-img {
    width: 283px;
}

.topright .man-img {
    height: 466px;
}

.section2 {
    padding: 73px;
}

.section2 h1 {
    font-size: 2.5rem;
    color: rgb(0, 7, 87);
}

.section2 p {
    padding: 0 8vw;
    text-align: center;
}

.box {
    margin: 12px 22px;
    min-width: 20vw;
    padding: 10px 0;
    border-radius: 10px;
    border: 2px solid rgb(0, 7, 87);
    text-align: center
}

.box h2 {
    font-size: 2rem;
    padding: 15px 0;
    color: rgb(0, 7, 87);
}

.box ul {
    list-style: none;
}

.box ul li {
    margin: 12px 2px;
    color: #687889;
}

.plantable {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 {
    padding: 73px;
}

.section3 h2 {
    font-size: 2.5rem;
    color: rgb(0, 7, 87);
}

.section3 table{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 140px;
    border-collapse: collapse;
}

.section3 table th{
    width: 23vw;
    border-bottom: 2px solid black;
    padding: 15px 0;
    color: rgb(0, 7, 87);
}

.section3 table td{
    border-bottom: 2px solid black;
    color: #687889;
}

footer{
    padding: 23px;
    text-align: center;
    color: rgb(0, 7, 87);
}